body {
    font-family: "Poppins", serif;
    justify-items: center;
    margin: 150px;
    color: white;
    background-color: #222831;
}

.bigbox {
    height: 100%;
    width: 800px;
    justify-items: center;
}

.container {
    padding: 15px 15px;
}

.container h1 p {
    align-items: center;
}

.box input {
    width: 20px;
    height: 30px;
}

.box label{
  display: flex;
  align-items: center;
  gap: 8px;
}

.box button {
    color: #222831;
    font-weight: 600;
    margin-top: 15px;
    height: 30px;
    width: 150px;
    border: none;
    border-radius: 15px;
    background-color: white;
    font-size: medium;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

#result {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}